{% include "header.html" %}
<body>
        <div class="wrapper">
          <div class="container">
            <div class="row">
              <div class="banner-info text-center wow fadeIn delay-05s">
                <h1 class="bnr-title">HELLO 👋</h1>
                <h2 class="bnr-sub-title">Starting a new journey!!</h2>
                <p class="bnr-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip <br>ex ea commodo consequat.</p>
                <div class="brn-btn">
                  <a href="#" class="btn btn-download">Download now!</a>
                  <a href="#" class="btn btn-more">Learn More</a>
                </div>
                <div class="overlay-detail">
                  <a href="#feature"><i class="fa fa-angle-down"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ HEADER-->
    <!---->
    <section id="feature" class="section-padding wow fadeIn delay-05s">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="wrap-item text-center">
              <div class="item-img">
                <img src="static/img/ser01.png">
              </div>
              <h3 class="pad-bt15">Creative Concept</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="wrap-item text-center">
              <div class="item-img">
                <img src="static/img/ser02.png">
              </div>
              <h3 class="pad-bt15">Amazing Design</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="wrap-item text-center">
              <div class="item-img">
                <img src="static/img/ser03.png">
              </div>
              <h3 class="pad-bt15">Cost effective</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="wrap-item text-center">
              <div class="item-img">
                <img src="static/img/ser04.png">
              </div>
              <h3 class="pad-bt15">Secure</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!---->
    <!---->
<!--    <section id="service" class="section-padding wow fadeInUp delay-05s">-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="col-md-12 text-center">-->
<!--            <h2 class="service-title pad-bt15">What We Do?</h2>-->
<!--            <p class="sub-title pad-bt15">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore magna aliqua.</p>-->
<!--            <hr class="bottom-line">-->
<!--          </div>-->
<!--          <div class="col-md-3 col-sm-6 col-xs-12">-->
<!--            <div class="service-item">-->
<!--              <h3><span>D</span>esign And Developement</h3>-->
<!--              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
<!--              <a href="">learn more...</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-3 col-sm-6 col-xs-12">-->
<!--            <div class="service-item">-->
<!--              <h3><span>W</span>ebsite Maintenance</h3>-->
<!--              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
<!--              <a href="">learn more...</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-3 col-sm-6 col-xs-12">-->
<!--            <div class="service-item">-->
<!--              <h3><span>S</span>eo Optimization</h3>-->
<!--              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
<!--              <a href="">learn more...</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-3 col-sm-6 col-xs-12">-->
<!--            <div class="service-item">-->
<!--              <h3><span>D</span>igital Marketing</h3>-->
<!--              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
<!--              <a href="">Learn more...</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->
    <!---->
    <!---->
    <!---->
    <!---->
    <section id="portfolio" class="section-padding wow fadeInUp delay-05s">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="service-title pad-bt15">Our Recent Works</h2>
            <p class="sub-title pad-bt15">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore magna aliqua.</p>
            <hr class="bottom-line">
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
            <figure>
              <img src="static/img/image00004.png" class="img-responsive">
              <figcaption>
                <h2>Hi, my name is Diorit</h2>
                <p>A programer, Tech enthusiast and more.</p>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
            <figure>
              
              <figcaption>
                <h2>Project For Everyone</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.</p>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
            <figure>
              <img src="static/img/port03.jpg" class="img-responsive">
              <figcaption>
                <h2>Project For Everyone</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.</p>
              </figcaption>
            </figure>
          </div>
          <br>
          <br>
<!--          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">-->
<!--            <figure>-->
<!--              <img src="static/img/port04.jpg" class="img-responsive">-->
<!--              <figcaption>-->
<!--                <h2>Project For Everyone</h2>-->
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.</p>-->
<!--              </figcaption>-->
<!--            </figure>-->
<!--          </div>-->
<!--          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">-->
<!--            <figure>-->
<!--              <img src="static/img/port05.jpg" class="img-responsive">-->
<!--              <figcaption>-->
<!--                <h2>Project For Everyone</h2>-->
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.</p>-->
<!--              </figcaption>-->
<!--            </figure>-->
<!--          </div>-->
<!--          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">-->
<!--            <figure>-->
<!--              <img src="static/img/port06.jpg" class="img-responsive">-->
<!--              <figcaption>-->
<!--                <h2>Project For Everyone</h2>-->
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.</p>-->
<!--              </figcaption>-->
<!--            </figure>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->

</body>
{% include "footer.html" %}
</html>
